In [92]:
import pandas as pd
import re
data = pd.read_csv('../input/imbd-sf/data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

In [93]:
len(data)

1890

In [94]:
# Предобработка датасета

In [95]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [96]:
res = data.original_title[data.budget.idxmax()]
print('#1', res)
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

#1 The Warrior's Way

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [97]:
res = data.original_title[data.runtime.idxmax()]
print('#2', res)
answer_ls.append(2)

#2 Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [98]:
res = data.original_title[data.runtime.idxmin()]
print('#3', res)
answer_ls.append(3)

#3 Winnie the Pooh

# 4. Какое число ближе к средней длительности фильма в датасете?
Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [99]:
res = data.runtime.mean()
print('#4', round(res))
answer_ls.append(2)

#4 110

# 5. Какое число ближе к медианной длительности фильма в датасете?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [100]:
res = data.runtime.median()
print('#5', round(res))
answer_ls.append(1)

#5 106

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [101]:
s_profit = data.revenue - data.budget
res = data.original_title[s_profit.idxmax()]
print('#6', res)
answer_ls.append(5)

#6 Avatar

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [102]:
res = data.original_title[s_profit.idxmin()]
print('#7', res)
answer_ls.append(2)

#7 The Warrior's Way

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [103]:
res = data.original_title[s_profit > 0]
print('#8', len(res))
answer_ls.append(1)

#8 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [104]:
res = data.original_title[data[data.release_year == 2008]['revenue'].idxmax()]
print('#9', res)
answer_ls.append(4)

#9 The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [105]:
res = data.original_title[s_profit[(data.release_year >= 2012) & (data.release_year <= 2014)].idxmin()]
print('#10', res)
answer_ls.append(5)

#10 The Lone Ranger

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [106]:
def parse_line(s):
    res_s = pd.Series([], dtype=object)
    for line in s:
        list_line = line.split('|')
        for cell_line in list_line:
            res_s = res_s.append(pd.Series(cell_line))
    return res_s

s_genres = parse_line(data.genres)
res = s_genres.value_counts().idxmax()
print('#11', res)
answer_ls.append(3)

#11 Drama

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [107]:
s_genres0 = parse_line(data.genres[s_profit > 0])
res = s_genres0.value_counts().idxmax()
print('#12', res)
answer_ls.append(3)

#12 Drama

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [108]:
res = data.director.value_counts()
print('#13', res.idxmax())
answer_ls.append(3)

#13 Steven Soderbergh

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [109]:
res = data.director[s_profit > 0].value_counts()
print('#14', res.idxmax())
answer_ls.append(2)

#14 Ridley Scott

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. James Cameron
3. Christopher Nolan
4. David Yates
5. Peter Jackson

In [110]:
df_dp = pd.concat([data.director, s_profit], axis=1)
res = df_dp.groupby(['director']).sum()
res.columns = ['sum']
print('#15', res.idxmax()['sum'])
answer_ls.append(5)

#15 Peter Jackson

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [111]:
def parse_line_df(s, separ='\|'):
    res = pd.DataFrame()
    # phrase = s.apply(lambda s: str(s).split(separ))
    phrase = s.apply(lambda x: re.split(separ, str(x)))   
    for iw1 in phrase.index:
        ls = phrase.loc[iw1]
        ix = [iw1 for x in range(len(ls))]
        res = res.append(pd.DataFrame(ls, ix))   
    return res.reset_index()
    
df_cast = parse_line_df(data.cast)
df_cast.columns = ['index_film', 'cast']

df_profit = s_profit.reset_index()
df_profit.columns = ['index_film', 'profit']

res = df_cast.merge(df_profit, on=['index_film']).groupby('cast').sum()
print('#16', res['profit'].idxmax())
answer_ls.append(1)

#16 Emma Watson

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [112]:
res = df_cast.merge(df_profit[data.release_year == 2012], on=['index_film']).groupby('cast').sum()
print('#17', res.idxmin()['profit'])
answer_ls.append(3)

#17 Kirsten Dunst

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [113]:
mean_bud = data.budget.mean()
df_cast_bud = parse_line_df(data.cast[data.budget > mean_bud])
df_cast_bud.columns = ['index_film', 'cast']
res = df_cast_bud.cast.value_counts()
print('#18', res.idxmax())
answer_ls.append(3)

#18 Matt Damon

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [114]:
df_genres = parse_line_df(data.genres)
df_genres.columns = ['index_film', 'genres']
df_NC = df_cast[df_cast.cast == 'Nicolas Cage'].merge(df_genres, on='index_film')
res = df_NC.genres.value_counts()
print('#19', res.idxmax())
answer_ls.append(2)

#19 Action

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [115]:
df_companies = parse_line_df(data.production_companies)
df_companies.columns = ['index_film', 'production_companies']
res = df_companies.production_companies.value_counts()
print('#20', res.idxmax())
answer_ls.append(1)

#20 Universal Pictures

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [116]:
df_companies15 = parse_line_df(data[data.release_year == 2015].production_companies)
df_companies15.columns = ['index_film', 'production_companies']
res = df_companies15.production_companies.value_counts()
print('#21', res.idxmax())
answer_ls.append(4)

#21 Warner Bros.

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [117]:
m1 = df_companies.merge(df_genres[df_genres.genres == 'Comedy'], on='index_film', how='inner')
m2 = m1.merge(df_profit, on='index_film')
m3 = m2.groupby('production_companies')['profit'].sum()
print('#22', m3.idxmax())
answer_ls.append(2)

#22 Universal Pictures

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [118]:
m1 = df_companies.merge(df_profit[data.release_year == 2012], on='index_film')
m2 = m1.groupby('production_companies')['profit'].sum()
print('#23', m2.idxmax())
answer_ls.append(3)

#23 Columbia Pictures

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [119]:
res = data.loc[df_profit[data.production_companies.str.contains('Paramount Pictures')].profit.idxmin()].original_title
print('#24', res)
answer_ls.append(1)

#24 K-19: The Widowmaker

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [120]:
df_prof_year = pd.DataFrame([data.revenue - data.budget, data.release_year]).T
res = df_prof_year.groupby('release_year').sum().idxmax().values[0]
print('#25', res)
answer_ls.append(5)

#25 2015

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [121]:
data_WB = data[data.production_companies.str.contains('Warner Bros')]
df_WB_py = pd.DataFrame([data_WB.revenue - data_WB.budget, data_WB.release_year]).T
res = df_WB_py.groupby('release_year').sum().idxmax().values[0]
print('#26', res)
answer_ls.append(1)

#26 2014

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [122]:
res = data.release_date.apply(lambda s: str(s).split('/')[0]).value_counts().idxmax()
print('#27', res)
answer_ls.append(4)

#27 9

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [123]:
res = data.release_date.apply(lambda s: str(s).split('/')[0]).value_counts()
print('#28', res[['6','7','8']].sum())
answer_ls.append(2)

#28 450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [124]:
df_director = parse_line_df(data.director)
df_director.columns = ['index_film', 'director']
df_month = data.release_date.apply(lambda s: str(s).split('/')[0])
df_month = df_month.reset_index()
df_month.columns = ['index_film', 'month']
df_month_winter = df_month[(df_month.month == '1') | (df_month.month == '11') | (df_month.month == '12')]
res = df_director.merge(df_month_winter, on='index_film').director.value_counts().idxmax()
print('#29', res)
answer_ls.append(5)

#29 Peter Jackson

# 30. Какой месяц чаще всего самый прибыльный в году?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [125]:
df_my = df_prof_year.assign(month=df_month['month'])
df_my.columns = ['profit', 'release_year', 'month']
df_p = df_my.pivot_table(values='profit', index='month', columns='release_year', aggfunc='sum')
res = df_p.idxmax().value_counts().idxmax()
print('#30', res)
answer_ls.append(2)

#30 6

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [126]:
df_title_len = data.original_title.apply(lambda s: len(str(s)))
df_title_len = df_title_len.reset_index()
df_title_len.columns = ['index_film', 'len']
m1 = df_companies.merge(df_title_len, on='index_film')
res = m1.groupby('production_companies')['len'].mean().idxmax()
print('#31', res)
answer_ls.append(5)

#31 Four By Two Productions

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [127]:
df_title_len = data.original_title.apply(lambda s: len(str(s).split()))
df_title_len = df_title_len.reset_index()
df_title_len.columns = ['index_film', 'len']
m1 = df_companies.merge(df_title_len, on='index_film')
res = m1.groupby('production_companies')['len'].mean().idxmax()
print('#32', res)
answer_ls.append(5)

#32 Four By Two Productions

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [128]:
df_word = parse_line_df(data.original_title.apply(lambda s: str(s).lower()), separ='\s+')
df_word.columns = ['index_film', 'word']
res = df_word.word.value_counts()
print('#33', len(res))
answer_ls.append(3)

#33 2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King, Upside Down
4. 300, Lucky Number Slevin
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [129]:
df_vote = data[['original_title', 'vote_average']]
df_vote_sort = df_vote.sort_values(by='vote_average', ascending=False)
num_films = round(len(df_vote_sort)/100)
s_1per = df_vote_sort.iloc[0:num_films].original_title.sort_values()

str_answer = [['Inside Out', 'Gone Girl', '12 Years a Slave'],
['BloodRayne' , 'The Adventures of Rocky and Bullwinkle'],
['The Lord of the Rings: The Return of the King', 'Upside Down'],
['300', 'Lucky Number Slevin'],
['Upside Down', '300', 'Inside Out', 'The Lord of the Rings: The Return of the King']]

for x in str_answer:   
    res = all([film in s_1per.values for film in x])    
    if res:
        print('#34', ', '.join(x)) 
answer_ls.append(1)

#34 Inside Out, Gone Girl, 12 Years a Slave

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [130]:
df_cast_sort = df_cast.sort_values(by=['index_film', 'cast'])
m1 = df_cast_sort.index_film.min()
m2 = df_cast_sort.index_film.max() + 1

s_pair = pd.Series([], dtype=object, name='pair')
for i_film in range(m1, m2):
    s1 = df_cast_sort[df_cast_sort.index_film == i_film]
    s1_len = len(s1)
    for i_name1 in range(s1_len - 1):
        name1 = s1.cast.iloc[i_name1]
        for i_name2 in range(i_name1 + 1, s1_len):
            name2 = s1.cast.iloc[i_name2]
            str_name = str(name1 + ' & ' + name2)
            s_pair = s_pair.append(pd.Series(str_name))

s_pair_count = s_pair.value_counts()
s_pair_count.name = 'num'
num_pair = s_pair_count.max()
res = s_pair_count[s_pair_count == num_pair].index.values
print('#35', num_pair)
for r in res:
    print(r)
answer_ls.append(5)

#35 8
Daniel Radcliffe & Rupert Grint
Emma Watson & Rupert Grint
Daniel Radcliffe & Emma Watson

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [131]:
df_dir_select = df_director[df_director.director.str.contains('Quentin Tarantino|Steven Soderbergh|Robert Rodriguez|Christopher Nolan|Clint Eastwood')]

s_dir0 = df_dir_select.merge(df_profit[df_profit.profit > 0], on='index_film')['director']
df_dir0 = s_dir0.value_counts().sort_index().reset_index()
df_dir0.columns = ['director', 'num_films_profit']

df_dir = df_dir_select['director'].value_counts().sort_index().reset_index()
df_dir.columns = ['director', 'num_films_all']

df_dir = df_dir0.assign(proc = df_dir0['num_films_profit'] / df_dir['num_films_all'] * 100 )
res = df_dir.loc[df_dir.proc.idxmax()].director

print('#36', res)
answer_ls.append(4)

#36 Christopher Nolan

# Submission

In [132]:
len(answer_ls)

36

In [133]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4